@import "media.scss";

main {
  position: absolute;
  top: 0;
  z-index: -4;

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .info {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      position: relative;

      &__name {
        width: 222px;
        height: auto;
        position: relative;

        @include small {
          width: 270px;
        }

        @include medium {
          width: 368px;
        }

        @include large {
          width: 510px;
        }

        @include Xlarge {
          width: 512px;
        }

        h1 {
          font-family: "Raleway";
          font-size: 45px;

          @include small {
            font-size: 55px;
          }

          @include medium {
            font-size: 75px;
          }

          @include large {
            font-size: 90px;
          }

          @include large {
            font-size: 105px;
          }
        }

        .prenom {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;

          img {
            width: 45px;
            margin-left: 10px;

            @include small {
              width: 55px;
              margin-left: 18px;
            }

            @include medium {
              width: 65px;
              margin-left: 20px;
            }

            @include large {
              width: 85px;
              margin-left: 25px;
            }

            @include Xlarge {
              width: 92px;
              margin-left: 30px;
            }
          }
        }

        .nom {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          margin-top: -8px;

          @include small {
            margin-top: -10px;
          }

          @include medium {
            margin-top: -12px;
          }

          @include large {
            margin-top: -16px;
          }

          @include Xlarge {
            margin-top: -18px;
          }

          img {
            width: 6px;
            margin-bottom: 3%;
            margin-left: 2px;
            margin-right: 1px;

            @include small {
              width: 7px;
            }
          }
        }

        .trait-1 {
          position: absolute;
          background-color: black;
          width: 1.5px;
          height: 62vh;
          top: -12vh;
          left: 0;
        }

        .trait-2 {
          position: absolute;
          background-color: black;
          width: 1px;
          height: 62vh;
          right: 0;
          top: -20vh;
        }

        .trait-3 {
          position: absolute;
          background-color: black;
          height: 1px;
          width: 82vw;
          top: 0;
          left: -8vw;

          @include small {
            width: 140%;
            left: -10vw;
          }
        }
        .trait-4 {
          position: absolute;
          background-color: black;
          height: 1px;
          width: 82vw;
          bottom: 0;
          right: -8vw;

          @include small {
            width: 140%;
            right: -10vw;
          }
        }
      }

      &__ui-front {
        font-family: "RedHatDisplay-Regular";
        font-size: 14px;

        @include medium {
          font-size: 16px;
        }
      }
    }
  }
  .scroll {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 20%;
    font-family: "RedHatDisplay-Regular";
    font-size: 14px;

    img {
      margin-top: 15px;
      width: 20px;
      animation: scroll 0.4s ease-in alternate infinite;

      @keyframes scroll {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(5px);
        }
      }
    }
  }
}
