@import "media.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  margin-top: 3px;
  z-index: -2;

  .title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 65%;
    position: relative;

    .grpPoint-home {
      position: absolute;
      bottom: 10px;
      left: -20px;
      z-index: -3;

      img {
        width: 90px;
        height: auto;

        @include small {
          width: 130px;
        }
      }
    }
    .me {
      h2 {
        font-family: "RedHatDisplay-Bold";
        font-size: 30px;

        @include small {
          font-size: 35px;
        }
      }
    }
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    flex-direction: column;
    .perso-me {
      display: flex;
      width: auto;
      height: auto;
      svg {
        width: 85px;
        height: auto;
      }
    }
    .texte {
      width: 80%;
      text-align: center;
      margin-top: 20px;

      p {
        font-size: 14px;
        font-family: "RedHatDisplay-Regular";
        line-height: 148%;
      }
    }
  }

  .button {
    margin-top: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      text-decoration: none;
      font-family: "RedHatDisplay-Medium";
      font-size: 14px;
      color: #262424;
      img {
        margin-right: 5px;
      }
    }
  }
  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 35px;

    .skillsLittle {
      font-family: "RedHatDisplay-Bold";
      font-size: 18px;
    }

    .comp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      font-family: "RedHatDisplay-Regular";
      font-size: 14px;
      margin-top: 20px;

      .ligne-1 {
        width: 250px;
        display: flex;
        justify-content: space-around;
      }

      .ligne-2 {
        width: 200px;
        display: flex;
        justify-content: space-around;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .ligne-3 {
        width: 250px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
