@import "media.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  margin-top: 3px;
  z-index: -2;
  position: relative;

  .point1 {
    display: none;
  }

  .point1-1 {
    img {
      height: 90px;
      position: absolute;
      top: 30px;
      right: 2px;

      @include small {
        top: 50px;
        right: 2px;
        height: 120px;
      }
      @include medium {
        height: 150px;
        top: 40px;
        right: 2px;
      }

      @include large {
        height: 170px;
        top: 20px;
      }

      @include Xlarge {
        height: 180px;
      }
    }
  }

  .point2 {
    display: none;
  }

  .point2-2 {
    img {
      height: 90px;
      position: absolute;
      bottom: 80px;
      left: 2px;

      @include small {
        bottom: 20px;
        left: 2px;
        height: 120px;
      }
      @include medium {
        height: 150px;
        left: 2px;
        bottom: 30px;
      }

      @include large {
        height: 170px;
      }

      @include Xlarge {
        height: 180px;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 65%;
    position: relative;

    .big-point {
      display: none;

      @include large {
        display: block;
        position: absolute;
        bottom: 10px;
        left: -20px;
        z-index: -3;

        img {
          @include large {
            width: auto;
            height: 180px;
          }
        }
      }
    }

    .grpPoint-home {
      position: absolute;
      bottom: 10px;
      left: -20px;
      z-index: -3;

      img {
        width: 100px;
        height: auto;

        @include small {
          width: 135px;
        }

        @include medium {
          width: 165px;
        }

        @include large {
          display: none;
        }
      }
    }
    .me {
      h2 {
        font-family: "RedHatDisplay-Bold";
        font-size: 30px;

        @include small {
          font-size: 35px;
        }

        @include medium {
          font-size: 45px;
        }

        @include large {
          font-size: 55px;
        }
      }
    }
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    flex-direction: column;

    @include medium {
      flex-direction: row;
    }

    .perso-me {
      display: flex;
      width: auto;
      height: auto;
      @include medium {
        order: 2;
      }

      svg {
        width: 85px;
        height: auto;

        @include medium {
          width: 125px;
        }

        @include large {
          width: 155px;
        }
      }
    }

    .article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include medium {
        order: 1;
        width: 60%;
        align-items: flex-start;
      }

      @include large {
        width: 50%;
      }

      @include Xlarge {
        width: 55%;
      }

      .texte {
        width: 80%;
        text-align: center;
        margin-top: 20px;

        @include medium {
          text-align: left;
        }

        @include large {
          width: 80%;
        }

        p {
          font-size: 14px;
          font-family: "RedHatDisplay-Regular";
          line-height: 148%;

          @include medium {
            font-size: 16px;
          }
        }
      }
    }

    .button {
      margin-top: 20px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        text-decoration: none;
        font-family: "RedHatDisplay-Medium";
        font-size: 14px;
        color: #262424;
        @include medium {
          font-size: 16px;
        }
        img {
          margin-right: 5px;
          @include medium {
            width: 48px;
          }
        }
      }
    }
    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      margin-top: 45px;

      @include medium {
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
      }

      .skillsLittle {
        font-family: "RedHatDisplay-Bold";
        font-size: 18px;

        @include medium {
          font-size: 22px;
        }
      }

      .comp {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        font-family: "RedHatDisplay-Regular";
        font-size: 14px;
        margin-top: 20px;

        img {
          margin-left: 12px;
          margin-right: 12px;
        }

        @include medium {
          font-size: 16px;
          align-items: flex-start;
          width: auto;
        }

        .lign-row {
          @include medium {
            display: flex;
            flex-direction: row;
          }
          .ligne-1 {
            width: 250px;
            display: flex;
            justify-content: space-around;

            @include medium {
              width: auto;
            }
          }

          .ptit-point {
            display: none;

            @include medium {
              display: block;
            }
          }

          .ligne-2 {
            width: 230px;
            display: flex;
            justify-content: space-around;
            margin-top: 8px;
            margin-bottom: 8px;

            @include medium {
              margin-top: 0;
              margin-bottom: 0;
              width: auto;
            }
          }
        }

        .ligne-3 {
          width: 250px;
          display: flex;
          justify-content: space-around;

          @include medium {
            width: auto;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
