@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("../assets/fonts/RedHatDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "RedHatDisplay-Medium";
  src: url("../assets/fonts/RedHatDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src: url("../assets/fonts/RedHatDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
}
