.works {
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    &__lign-1 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      h2 {
        font-family: "RedHatDisplay-Bold";
        font-size: 30px;
      }

      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 110px;
        top: 12px;

        div.littleTrait {
          background-color: black;
          width: 50px;
          height: 2px;
        }
        p {
          font-family: "RedHatDisplay-Medium";
          font-size: 14px;
        }
      }
      .n1 {
        margin-right: 8px;
      }
      .n2 {
        margin-left: 7px;
      }
    }
    h3 {
      font-family: "RedHatDisplay-Regular";
      font-size: 14px;
    }
  }
}
